@charset "UTF-8";
* {
  box-sizing: border-box; }

html {
  position: relative;
  min-height: 100%; }

body {
  padding: 0;
  margin: 0 0 56px; }
  @media screen and (max-width: 960px) {
    body {
      margin: 0 0 32px; } }

body, html {
  font-family: Arial, serif; }

header, footer {
  height: 56px;
  width: 100%; }
  @media screen and (max-width: 960px) {
    header, footer {
      height: 32px; } }

header {
  padding: 8px 16px;
  background-color: #deb887;
  text-align: center; }
  header .logo {
    float: left;
    height: 100%; }
    header .logo img {
      height: 100%;
      display: block; }
    @media screen and (max-width: 960px) {
      header .logo {
        margin-right: 16px; } }
  header .heading {
    font-weight: bold;
    font-size: 28px; }
    @media screen and (max-width: 960px) {
      header .heading {
        font-size: 20px; } }

footer {
  padding: 8px 16px;
  background-color: #deb887;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; }

.container {
  padding: 16px;
  width: 100%; }
  .container::after {
    clear: both;
    display: block;
    content: ''; }
  @media screen and (max-width: 960px) {
    .container {
      padding: 0; } }
  .container aside {
    width: 25%;
    float: left; }
    @media screen and (max-width: 960px) {
      .container aside {
        display: none; } }
    .container aside ul {
      margin: 0 16px 0 0;
      border: 1px solid black;
      list-style: none;
      padding: 0; }
    .container aside li {
      border-top: 1px solid black;
      height: 32px;
      display: block;
      padding: 8px;
      position: relative; }
      .container aside li:hover {
        background-color: #3c3c3c;
        color: white;
        cursor: pointer; }
        .container aside li:hover::after {
          display: block;
          content: '►';
          position: absolute;
          right: 5px;
          top: 7px; }
      .container aside li:first-child {
        border-top: 0; }
  .container .content {
    width: 75%;
    float: left;
    padding: 16px;
    border: 1px solid black; }
    @media screen and (max-width: 960px) {
      .container .content {
        width: 100%;
        float: none;
        border: none; } }
    .container .content .tab {
      display: none; }
      .container .content .tab:first-child {
        display: block; }
      @media screen and (max-width: 960px) {
        .container .content .tab {
          display: block !important;
          margin-bottom: 16px; } }
  .container h1 {
    margin: 0;
    padding: 0 0 16px; }
    @media screen and (max-width: 960px) {
      .container h1 {
        padding: 0 0 8px; } }
  .container p {
    margin: 0; }
