//Vars
$breakpoint: 960px
$spacing: 16px

//Mixins
=handheld()
	@media screen and (max-width: $breakpoint)
		@content

//Style
*
	box-sizing: border-box

html
	position: relative
	min-height: 100%

body
	padding: 0
	margin: 0 0 56px
	+handheld
		margin: 0 0 32px

body, html
	font-family: Arial, serif

header, footer
	height: 56px
	width: 100%
	+handheld
		height: 32px

header
	padding: $spacing/2 $spacing
	background-color: #deb887
	text-align: center
	.logo
		float: left
		height: 100%
		img
			height: 100%
			display: block
		+handheld
			margin-right: $spacing

	.heading
		font-weight: bold
		font-size: 28px
		+handheld
			font-size: 20px

footer
	padding: $spacing/2 $spacing
	background-color: #deb887
	text-align: center
	position: absolute
	bottom: 0
	left: 0
	width: 100%

.container
	padding: $spacing
	width: 100%
	&::after
		clear: both
		display: block
		content: ''
	+handheld
		padding: 0

	aside
		width: 25%
		float: left

		+handheld
			display: none

		ul
			margin: 0 $spacing 0 0
			border: 1px solid black
			list-style: none
			padding: 0

		li
			border-top: 1px solid black
			height: $spacing * 2
			display: block
			padding: $spacing/2
			position: relative

			&:hover
				background-color: #3c3c3c
				color: white
				cursor: pointer
				&::after
					display: block
					content: '►'
					position: absolute
					right: 5px
					top: 7px

			&:first-child
				border-top: 0

	.content
		width: 75%
		float: left
		padding: $spacing
		border: 1px solid black

		+handheld
			width: 100%
			float: none
			border: none

		.tab
			display: none
			&:first-child
				display: block
			+handheld
				display: block !important
				margin-bottom: $spacing

	h1
		margin: 0
		padding: 0 0 $spacing
		+handheld
			padding: 0 0 $spacing/2
	p
		margin: 0